h1{
    font-family: 'Bebas Neue', cursive;
    padding-top: 30px;
    line-height: 1.2;
}

h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
    line-height: 1.2;
}
#title{
    color: rgb(73, 73, 73);
    font-size: 64px;

}
.intro-title{
    color: rgb(113, 63, 250);
    font-size: 70px;
}
p{
    font-family: 'Roboto', sans-serif;
    color: rgb(97, 96, 96);
    text-align: justify;
}
.name-highlight{
    color: rgb(113, 63, 250);
    font-weight: 700;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}

.half-width img{
    width: 100%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(180deg, #606ff4, #e063ff);
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-family: 'Bebas Neue', cursive;
}

.btn-about{
  background-image: linear-gradient(180deg, #606ff4, #e063ff);
  border: none;
  color: white;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Bebas Neue', cursive;
  border-radius: 5px;
  text-align: center;
  width: 160px;
}

.top{
    height: 500px;
    margin: 5%;
}
.top-two{
    height: 550px;
    margin: 5%;
}
.project{
    height: 700px;
    margin: 5%;
}


.project h2{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

.tri{
    margin: 2% 3%;
    padding: 1%;
    width: 25%;
    float: left;
}

.tri p{
    font-size: 15px;
    color: gray;
    font-family: 'Roboto', sans-serif;
    padding: 2%;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.tri h3{
    color: rgb(49, 48, 48);
    font-family: 'Bebas Neue', cursive;
    padding: 2%;
    display: block;
    font-size: 22px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.tri img{
    width: 100%;
}

.box{
    box-shadow: 5px 5px 30px gray;
    border-radius: 10px;
    height: auto;
    background-color: white;
    box-sizing: content-box;

}
.blog-title{
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter;
    letter-spacing: 1px;
    color: rgb(90, 89, 89);
}

.blog-date{
    font-family: 'Bebas Neue', cursive;
    margin-left: 2%;
    color: gray;
    font-weight: lighter;
    letter-spacing: 1px;
}
.blog-btn{
    background-image: linear-gradient(180deg, #606ff4, #e063ff);
    border: none;
    color: white;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    float: right;
}
.mid-section{
    max-width: 1170px;
    margin: 0 auto;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    height: 500px;
}
.inquiry-box{
    width: 70%;
    margin: auto;
    padding: 80px 60px;
    border-radius: 30px;
    overflow: hidden;
    background-image: url("shapes/inquiry.png");
    background-repeat: no-repeat;
}

.col-half {
    width: 50%;
    float: left;
}
.inquiry-box h2 {
    font-size: 64px;
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
}
.inquiry-btn {
    text-align: right;
    margin-top: 27px;
}
.btn {
    background-image: linear-gradient(180deg, #606ff4, #e063ff);
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    letter-spacing: 1px;
    font-family: 'Bebas Neue', cursive;
}

.footer {
    text-align: center;
    padding: 100px 0;
}
footer {
    display: block;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}